#output{
    font-size: 1.5em;
}

#btndeal, #myactions {
    display: none;
}

.btn {
    border-radius: 3px;
    padding: 7px 20px;
    color: orange;
    display: inline-block;
    text-align: center;
    text-shadow: 2px 2px black;
    font: normal 700 24px/1 "Calibri", sans-serif;
}

#cover{
    height: 160px;
    width: 120px;
    background-color: red;
    border-radius: 10px;
    position: absolute;
    border: 1px solid black;
    padding: 3px;

}

.card {
    height: 160px;
    width: 120px;
    padding: 3px;
    border: 1px solid black;
    background-color: white;
    border-radius: 10px;
    position: absolute;
    left: 100px;
    display: inline-block;
    font-family: 'Lato';
}

.top-card{
    font-size: 30px;
    line-height: 20px;
    left: 2px;
    top: 2px;

}

.content-card{
    text-align: center;
    font-size: 70px;
}

.bottom-card{
    font-size: 30px;
    line-height: 20px;
    right: 2px;
    bottom: 2px;
    transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
}


.clubs, .spades{
    color: black;
}
.hearts, .diams{
    color: red;
}

.hearts .suit::after{
    content: '\2665'
}
.diams .suit::after{
    content: '\2666'
}
.spades .suit::after{
    content: '\2660'
}
.clubs .suit::after{
    content: '\2663'
}
#dealerHolder, #playerHolder{
    height: 180px;
    width: 500px;

}

#message{
    height: 70;
    font-size: 30px;
    text-align: center;
}
#btnhold{
    background-color: black;
}
#btnhit{
    background-color: black;
}
#btndouble{
    background-color: black;
}
#maxbet{
    background-color: black;
}
#brnstart{
    background-color: black;
}
.total{
    font-size: 34px;
}
#body1{
    background-color: antiquewhite;
}